name: Android APK CI with Emulator Tests

on:
  push:
    branches: [ main ]

jobs:
  android-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.5'

    - name: Install Flutter dependencies
      run: flutter pub get

    - name: Build APK
      run: flutter build apk --release

    - name: Copy APK for tests
      run: cp build/app/outputs/flutter-apk/app-release.apk app-release.apk

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Start Android emulator & run tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 33
        arch: x86_64
        target: google_apis
        emulator-options: -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect
        script: |
          yes | sdkmanager --licenses
          sudo npm install -g appium
          appium --log-level error &
          sleep 10
          pip install -r tests/requirements.txt
          pytest tests
